# Django Core Settings
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database Configuration
DATABASE_URL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_JSON_PATH=
